@model List<Inwinteck_CRM.Models.TicketDetails>
@{
    ViewBag.Title = "Ticket || Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<div class="page-header">
    <div class="container-fluid d-sm-flex justify-content-between">
        <h4>Ticket</h4>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Transaction</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Ticket</li>
            </ol>
        </nav>
    </div>
</div>

<!-- Main content -->
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <!-- Basic Forms -->
            <div class="card">

                <!-- /.box-header -->
                <div class="card-body">
                    <div class="row">

                        @using (Html.BeginForm("Tickettest", "Transaction", FormMethod.Get, new { enctype = "multipart/form-data", role = "form", @class = "col-12" }))
                        {
                            <div class="col-12">
                                <div class="form-row">
                                    <label for="example-text-input" class="col-sm-2 col-form-label">Search</label>
                                    <div class="col-sm-5">
                                        <select class="form-control" name="searchtype" id="searchtype">
                                            <option>Select Parameter to Search</option>
                                            <option value="EU">Enter EU Name</option>
                                            <option value="Ticket">Ticket No</option>
                                            <option value="Status">Status</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-5">
                                        <input class="form-control" type="search" placeholder="Enter your Keyword for search " name="searchtext" id="searchtext">

                                    </div>
                                </div>


                                <div class="box-footer text-center">


                                    <button type="submit" class="btn btn-primary">Search</button>

                                    <a href="@Url.Action("CreateTickettest","Transaction")" class="btn btn-primary" title="Add New Master Personal">Create Ticket</a>


                                </div>
                            </div>
                            <!-- /.col -->
                        }
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->


            </div>
            <!-- /.box -->
            <!-- /.box-header -->
            <div class="card">

                <div class="card-body ">

                    <div class="table-responsive dt-responsive">

                        <table id="dom-jqry" class="table table-striped table-bordered nowrap m-t-10">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Ticket No</th>
                                    <th>Ticket Created</th>
                                    <th>Customer Name</th>
                                    <th>Case No</th>
                                    <th>Case Date</th>
                                    <th>Site Country</th>
                                    @*<th>Site Name</th>*@
                                    <th>Site City</th>
                                    <th>Dispatch Date & Time</th>
                                    <th>FE Name</th>
                                    <th>Checked In Time</th>
                                    <th>Status</th>
                                    <th>Username</th>
                                    <th>AVG CSAT</th>
                                </tr>
                            </thead>
                            @if (Model.Count > 0)
                            {
                                foreach (var i in Model)
                                {
                                    <tr>
                                        <td>
                                            @if (i.Status_ID == 20)
                                            {

                                                <a href="@Url.Action("viewTickettest", "Transaction", new { Id = i.Id })" title="View" style="margin-left: 10px;"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                            }
                                            else if (i.Status_ID == 1362)
                                            {
                                                <a href="@Url.Action("viewTickettest", "Transaction", new { Id = i.Id })" title="View" style="margin-left: 10px;"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                            }
                                            else if (i.Status_ID == 21)
                                            {
                                                <a href="@Url.Action("viewTickettest", "Transaction", new { Id = i.Id })" title="View" style="margin-left: 10px;"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                            }
                                            else if (i.Status_ID == 19)
                                            {
                                                <a href="@Url.Action("viewTickettest", "Transaction", new { Id = i.Id })" title="View" style="margin-left: 10px;"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                            }
                                            else
                                            {
                                                <a href="@Url.Action("editTickettest", "Transaction", new { Id = i.Id })" title="edit"><i class="fa fa-edit"></i></a>
                                                <a href="@Url.Action("viewTickettest", "Transaction", new { Id = i.Id })" title="View" style="margin-left: 10px;"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                            }
                                        </td>
                                        <td>@i.Ticket_No</td>
                                        <td>@i.Ticket_Created</td>
                                        <td title="Contact : @i.EU_Contact Email : @i.EU_Email">@i.EU_Name</td>
                                        <td>@i.Case_No</td>
                                        <td>@i.Case_Date</td>
                                        @*<td>@i.Site_Name</td>*@
                                        <td>@i.Country</td>
                                        <td>@i.City</td>
                                        <td>@i.Dispatch</td>
                                        <td title="Contact : @i.FE_Contact Email : @i.FE_Email">@i.FE_Name</td>
                                        <td>@i.checked_In</td>
                                        <td>@i.Status</td>
                                        <td>@i.Username</td>
                                        <td>@i.CSAT</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr><td colspan="9" class="text-center"> <code style="font-size:20px;"> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <br /> No Record Found </code></td></tr>
                            }
                        </table>

                    </div>

                </div>
                @*<div class="col-md-12" style="overflow: auto;">
                        <nav aria-label="...">
                            <ul class="pagination">

                                @for (int i = 0; i <= ViewBag.pageCount; i++)
                                {
                                    if (i == ViewBag.pageNo)
                                    {
                                        <li class="page-item active" aria-current="page"><a class="page-link" href="#">@(i + 1) <span class="sr-only">(current)</span></a></li>

                                    }
                                    else
                                    {

                                        <li class="page-item">

                                            @Html.ActionLink((i + 1).ToString(), "Ticket", new
                                       { pageNo = i }, new { @class = "page-link" })


                                        </li>

                                    }
                                }

                            </ul>
                        </nav>
                    </div>*@
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content  text-center">
            <div class="modal-header">
                <h4 class="modal-title text-center "><i class="fa fa-info-circle" aria-hidden="true"></i> Information</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <p style="font-size: 15.5px;">@TempData["Payment"] </p>
                <p style="font-size: 20px;">@TempData["message"] </p>

            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->

                <a href="#" data-dismiss="modal" aria-label="Close" class="btn btn-primary">OK</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section scripts
{
    @if (TempData["message"] != null)
    {
        <script type="text/javascript">

    window.onload = function () {
        $('#myModal').modal('show');
    };
        </script>
    }
    <script type="text/javascript">

        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var param1 = getUrlVars()["searchtype"];
            var param2 = getUrlVars()["searchtext"];
            if (param1 != null && param2 != null) {
                $("#searchtype").val(param1);
                $("#searchtext").val('@ViewBag.Search');
            }

            $('#dom-jqry').DataTable({
               // "ordering": false   false to disable sorting (or any other option)
                columnDefs: [
                    { orderable: false, targets: 0 }
                ],
                order: [[1, 'desc']]
            });
        });

    </script>
}







