
@{
    ViewBag.Title = "Add || Client Sales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Content Header (Page header) -->
<div class="page-header">
    <div class="container-fluid d-sm-flex justify-content-between">
        <h4>Client Master</h4>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Master</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Add Client Master</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <!-- Basic Forms -->
            <div class="card">

                <!-- /.box-header -->
                <div class="card-body">
                    @using (Html.BeginForm("addEUMasterSales", "Master", FormMethod.Post, new { enctype = "multipart/form-data", role = "form", @class = "col-12" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <input type="hidden" name="Status" value="1" />

                        <div class="form-row">
                            <label for="Customer_Name" class="col-sm-2 col-form-label">Client Name</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="Customer_Name" placeholder="Enter Customer Name" required>
                            </div>
                            <label for="Customer_Contact" class="col-sm-2 col-form-label">Client Contact</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="Customer_Contact" placeholder="Enter Customer Contact" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="Customer_Email" class="col-sm-2 col-form-label">Client Email</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="Customer_Email" placeholder="Enter Customer Email" required>
                            </div>
                         
                            @*<label for="Customer_Address" class="col-sm-2 col-form-label">Customer Address</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="Customer_Address" placeholder="Enter Customer Address" required>
                                </div>*@
                        </div>
                        @*<div class="form-row">
                                <label for="Pincode_Zipcode" class="col-sm-2 col-form-label">ZipCode/Pincode</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="Pincode_Zipcode" id="Pincode_Zipcode" placeholder="Enter your ZipCode/Pincode" required>
                                </div>
                                <label for="City" class="col-sm-2 col-form-label">City</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="City" id="City" placeholder="Enter your City">
                                </div>
                            </div>
                            <div class="form-row">
                                <label for="State" class="col-sm-2 col-form-label">State</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="State" id="State" placeholder="Enter your State" required>
                                </div>
                                <label for="Country" class="col-sm-2 col-form-label">Country</label>
                                <div class="col-md-4">
                                    <select class="form-control" name="Country" id="Country" required>
                                        <option value="">Select Country</option>
                                        @foreach (var i in ViewBag.Country)
                                        {
                                            <option value="@i.Value">@i.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>*@
                        @*<div class="form-row">
                                <label for="Charges_Business_Hour" class="col-sm-2 col-form-label">Charges Business Hour</label>
                                <div class="col-md-4">
                                    <input type="number" class="form-control" name="Charges_Business_Hour" placeholder="Enter Charges per Business Hour" >
                                </div>
                                <label for="Charges_Non_Business_Hour" class="col-sm-2 col-form-label">Charges Non Business Hour</label>
                                <div class="col-md-4">
                                    <input type="number" class="form-control" name="Charges_Non_Business_Hour" placeholder="Enter Charges per Non Business Hour" >
                                </div>
                            </div>
                            <div class="form-row">
                                <label for="Travel_Charge" class="col-sm-2 col-form-label">Travel Charge</label>
                                <div class="col-md-4">
                                    <input type="number" class="form-control" value="" name="Travel_Charge" placeholder="Enter Travel Charge">
                                </div>
                                <label for="Charges_Job" class="col-sm-2 col-form-label">Charges Job</label>
                                <div class="col-md-4">
                                    <input type="number" class="form-control" value="" name="Charges_Job" placeholder="Enter Charges Job">
                                </div>
                            </div>
                            <div class="form-row">
                                <label for="Minimum_Hrs" class="col-sm-2 col-form-label">Minimum Hrs</label>
                                <div class="col-md-4">
                                    <input type="number" class="form-control" value="" name="Minimum_Hrs" placeholder="Enter Minimum Hrs">
                                </div>
                            </div>*@

                        <div class="form-row">
                            <div class="form-group col-md-12 text-center">
                                <input type="submit" class="btn btn-primary" value="Save" />
                                <a href="@Url.Action("EUMasterSales","Master")" class="btn btn-info">Cancel</a>
                            </div>
                        </div>

                    }
                </div>
                <!-- /.box-body -->


            </div>
            <!-- /.box -->
        </div>
    </div>

</div>



<div class="modal fade" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content  text-center">
            <div class="modal-header">
                <h4 class="modal-title text-center "><i class="fa fa-info-circle" aria-hidden="true"></i> Information</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="font-size: 20px;">@TempData["message"] </p>


            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->

                <a href="#" data-dismiss="modal" aria-label="Close" class="btn btn-primary">OK</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
@section scripts
{
    @if (TempData["message"] != null)
    {
        <script type="text/javascript">

            window.onload = function () {
                $('#myModal').modal('show');
            };
        </script>
    }

    <script type="text/javascript">
        $("#Pincode_Zipcode").blur(function () {
            var code = $(this).val();

            $.get(baseurl + "/Master/GetLocation", { PinCode: code }, function (data) {

                if (data.res == "Success") {
                    $("#City").val(data.Location['city']);
                    $("#State").val(data.Location['state']);
                    $("#Country").val(data.Location['Country']);
                } else {

                }
            });


        });
    </script>

}






