@model Inwinteck_CRM.Models.FE_Master_Financial
@{
    ViewBag.Title = "FE || Financial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<div class="page-header">
    <div class="container-fluid d-sm-flex justify-content-between">
        <h4>FE Financial</h4>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Master</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">FE Financial</li>
            </ol>
        </nav>
    </div>
</div>
@*======================================================================= EDIT FE Financial ========================================================================*@
@if (ViewBag.Edit == "Yes")
{
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <!-- Basic Forms -->
                <div class="card">

                    <!-- /.box-header -->
                    <div class="card-body">
                        @using (Html.BeginForm("EditFEFinancial", "Master", FormMethod.Post, new { enctype = "multipart/form-data", role = "form", @class = "col-12" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <input type="hidden" name="Id" value="@Model.Id" />
                            <input type="hidden" name="FE_ID" value="@Model.FE_ID" />
                            <input type="hidden" name="CreatedBy" value="@Model.CreatedBy" />
                            <input type="hidden" name="CreatedOn" value="@Model.CreatedOn" />

                            <div class="form-row">
                                <label for="Account_Name" class="col-sm-2 col-form-label">Account Name</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" value="@Model.Account_Name" name="Account_Name" placeholder="Enter Account Name" required>
                                </div>
                                <label for="Account_No" class="col-sm-2 col-form-label">Account Number</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" value="@Model.Account_No" name="Account_No" placeholder="Enter Account Number" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <label for="Swift_Code" class="col-sm-2 col-form-label">Swift Code</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" value="@Model.Swift_Code" name="Swift_Code" placeholder="Enter Swift Code" required>
                                </div>
                                <label for="Bank_Address" class="col-sm-2 col-form-label">Bank Address</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" value="@Model.Bank_Address" name="Bank_Address" placeholder="Enter Bank Address" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <label for="VIC_Code" class="col-sm-2 col-form-label">VIC Code</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" value="@Model.VIC_Code" name="VIC_Code" placeholder="Enter VIC Code">
                                </div>
                                <label for="Paypal_Id" class="col-sm-2 col-form-label">Paypal Id</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" value="@Model.Paypal_Id" name="Paypal_Id" placeholder="Enter Paypal Id">
                                </div>
                            </div>
                            <div class="form-row">
                                <label for="VAT_Number" class="col-sm-2 col-form-label">VAT Number</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" value="@Model.VAT_Number" name="VAT_Number" placeholder="Enter VAT Number">
                                </div>
                                <label for="GST_Number" class="col-sm-2 col-form-label">GST Number</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" value="@Model.GST_Number" name="GST_Number" placeholder="Enter GST Number">
                                </div>
                            </div>
                            <div class="form-row">
                                <label for="Tax_ID" class="col-sm-2 col-form-label">Tax ID</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" value="@Model.Tax_ID" name="Tax_ID" placeholder="Enter Tax ID">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12 text-center">
                                    <input type="submit" class="btn btn-primary" value="Update" />
                                    <a href="@Url.Action("FEMaster","Master")" class="btn btn-info">Cancel</a>
                                </div>
                            </div>

                        }
                    </div>
                    <!-- /.box-body -->


                </div>
                <!-- /.box -->
            </div>
        </div>

    </div>
}
else
{
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <!-- Basic Forms -->
                <div class="card">

                    <!-- /.box-header -->
                    <div class="card-body">
                        @using (Html.BeginForm("addFEFinancial", "Master", FormMethod.Post, new { enctype = "multipart/form-data", role = "form", @class = "col-12" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <input type="hidden" name="FE_ID" value="@ViewBag.FE" />


                            <div class="form-row">
                                <label for="Account_Name" class="col-sm-2 col-form-label">Account Name</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="Account_Name" placeholder="Enter Account Name" required>
                                </div>
                                <label for="Account_No" class="col-sm-2 col-form-label">Account Number</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="Account_No" placeholder="Enter Account Number" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <label for="Swift_Code" class="col-sm-2 col-form-label">Swift Code</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="Swift_Code" placeholder="Enter Swift Code" required>
                                </div>
                                <label for="Bank_Address" class="col-sm-2 col-form-label">Bank Address</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="Bank_Address" placeholder="Enter Bank Address" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <label for="VIC_Code" class="col-sm-2 col-form-label">VIC Code</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="VIC_Code" placeholder="Enter VIC Code">
                                </div>
                                <label for="Paypal_Id" class="col-sm-2 col-form-label">Paypal Id</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="Paypal_Id" placeholder="Enter Paypal Id">
                                </div>
                            </div>
                            <div class="form-row">
                                <label for="VAT_Number" class="col-sm-2 col-form-label">VAT Number</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="VAT_Number" placeholder="Enter VAT Number">
                                </div>
                                <label for="GST_Number" class="col-sm-2 col-form-label">GST Number</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="GST_Number" placeholder="Enter GST Number">
                                </div>
                            </div>
                            <div class="form-row">
                                <label for="Tax_ID" class="col-sm-2 col-form-label">Tax ID</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="Tax_ID" placeholder="Enter Tax ID">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12 text-center">
                                    <input type="submit" class="btn btn-primary" value="Save" />
                                    <a href="@Url.Action("FEMaster","Master")" class="btn btn-info">Cancel</a>
                                </div>
                            </div>

                        }
                    </div>
                    <!-- /.box-body -->


                </div>
                <!-- /.box -->
            </div>
        </div>

    </div>
}


<div class="modal fade" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content  text-center">
            <div class="modal-header">
                <h4 class="modal-title text-center "><i class="fa fa-info-circle" aria-hidden="true"></i> Information</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="font-size: 20px;">@TempData["message"] </p>
                @if (TempData["link"] != null)
                {
                    if (TempData["link"].ToString() == "Yes")
                    {
                        <p>Add FE Skill <a href="@Url.Action("FESkill", "Master" , new { id = Model.Id })"> HERE </a></p>
                    }
                }

            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->

                <a href="#" data-dismiss="modal" aria-label="Close" class="btn btn-primary">OK</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
@section scripts
{
    @if (TempData["message"] != null)
    {
        <script type="text/javascript">

            window.onload = function () {
                $('#myModal').modal('show');
            };
        </script>
    }

}





