@model List<Inwinteck_CRM.Models.FE_Master_Personal_list>
@{
    ViewBag.Title = "FE || Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #Skill {
        display: none;
    }
    .btn-xs-inline {
        padding: 2px;
        font-size: 12px;
        border-radius: 4px;
        width: 12%;
        height: 23px;
    }
</style>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>

</head>
<!-- Content Header (Page header) -->
<div class="page-header">
    <div class="container-fluid d-sm-flex justify-content-between">
        <h4>FE Master</h4>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Master</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">FE Master</li>
            </ol>
        </nav>
    </div>
</div>

<!-- Main content -->
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <!-- /.box-header -->
            <div class="card">

                <div class="card-body ">

                    <div class="table-responsive dt-responsive">
                        <div class="text-center">
                            <span class="badge badge-success mr-2 d-sm-inline">  Active FE  : @ViewBag.Activated</span>
                            <span class="badge badge-danger mr-2 d-sm-inline"> Deactive FE : @ViewBag.DeActivated</span>
                            <span class="badge badge-dark mr-2 d-sm-inline"> BlackList FE : @ViewBag.BlackListed</span>
                            <span class="badge badge-secondary mr-2 d-sm-inline">Not Interested FE : @ViewBag.NotInterested</span>
                            <span class="badge badge-success mr-2 d-sm-inline"> Certified Active FE  : @ViewBag.CertiAct</span>
                            <span class="badge badge-danger mr-2 d-sm-inline"> Not Certified FE : @ViewBag.CertiDeAct</span>
                            <button type="button" class="btn btn-warning btn-xs-inline" id="copyurlbutton" onclick="copyUrlToClipboard()">Share Registration Link</button>
                        </div>
                        <table id="dom-jqry" class="table table-striped table-bordered nowrap m-t-10">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    @*<th>Id</th>*@
                                    <th>Date of Registration</th>
                                    <th>Date of Activation</th>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Name of Company</th>
                                    <th>Certification</th>
                                    <th>Email</th>
                                    <th>Contact</th>
                                    <th>Country</th>
                                    <th>State</th>
                                    <th>City</th>
                                    <th>ZipCode/Pincode</th>
                                    @*<th>NDA Status</th>*@
                                    <th>Status</th>
                                </tr>
                            </thead>
                            @if (Model.Count > 0)
                            {
                                foreach (var i in Model)
                                {
                                    <tr>
                                        <td>

                                            <a href="@Url.Action("FEPersonal","Master", new {Id = i.Id })" ) title="Personal"><span class="badge badge-primary d-sm-inline"><i class="fas fa-user-edit"></i></span></a>

                                        </td>
                                        <td>@i.CreatedOn.ToString("yyyy-MM-dd")</td>
                                        @if (i.NDA_Acceptance_Date == null)
                                        {

                                            <td>NA</td>
                                        }
                                        else
                                        {
                                            <td>@i.NDA_Acceptance_Date.Value.ToString("yyyy-MM-dd")</td>
                                        }
                                        @*<td>@i.Id</td>*@
                                        <td>@i.First_Name  @i.Last_Name</td>

                                        @if (i.FE_Type == 345)
                                        {
                                            <td>Company</td>

                                            <td title="Manager Name: @i.Manager_Name , Manager Phone: @i.Manager_Phone_Number">@i.Company_Name</td>
                                        }
                                        else
                                        {
                                            <td>Freelance</td>
                                            <td>NA</td>

                                        }

                                        @if (i.Certification > 0)
                                        {

                                            <td><span class="badge badge-success mr-2 d-sm-inline">Certified</span></td>

                                        }
                                        else
                                        {

                                            <td> <span class="badge badge-danger mr-2 d-sm-inline">Not Certified</span></td>


                                        }
                                        <td>@i.Email</td>
                                        <td>@i.Phone_Number_Code @i.Phone_Number</td>
                                        <td>@i.Country</td>
                                        <td>@i.State</td>
                                        <td>@i.City</td>
                                        <td>@i.ZipCode_Pincode</td>

                                        @*@if (@i.Signature != null)
        {

            <td><a href="@i.Signature" target="_blank"><span class="badge badge-success mr-2 d-sm-inline d-none">Uploaded</span></a></td>

        }
        else
        {

            <td><span class="badge badge-danger mr-2 d-sm-inline d-none">Not Uploaded</span></td>


        }*@

                                        @if (@i.Status == 1 && (i.FeInterest == 1 || i.FeInterest == null))
                                        {

                                            <td><span class="badge badge-success mr-2 d-sm-inline">Active</span></td>

                                        }

                                        else if (i.Status == 0 && (i.FeInterest == 1 || i.FeInterest == null))
                                        {
                                            <td><span class="badge badge-danger mr-2 d-sm-inline">Deactive</span></td>

                                        }
                                        else if (i.Status == 2 && (i.FeInterest == 1 || i.FeInterest == null))
                                        {

                                            <td><span class="badge badge-dark mr-2 d-sm-inline"> BlackListed</span></td>


                                        }
                                        else if (i.FeInterest == 0)
                                        {

                                            <td><span class="badge badge-secondary mr-2 d-sm-inline"> Not Interested</span></td>


                                        }


                                    </tr>
                                }
                            }
                            else
                            {
                                <tr><td colspan="6" class="text-center"> <code style="font-size:20px;"> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <br /> No Record Found </code></td></tr>
                            }
                        </table>

                    </div>

                </div>
                @*<div class="col-md-12" style="overflow: auto;">
                        <nav aria-label="...">
                            <ul class="pagination">

                                @for (int i = 0; i <= ViewBag.pageCount; i++)
                                {
                                    if (i == ViewBag.pageNo)
                                    {
                                        <li class="page-item active" aria-current="page"><a class="page-link" href="#">@(i + 1) <span class="sr-only">(current)</span></a></li>

                                    }
                                    else
                                    {

                                        <li class="page-item">

                                            @Html.ActionLink((i + 1).ToString(), "FEMaster", new
                                       { pageNo = i }, new { @class = "page-link" })


                                        </li>

                                    }
                                }

                            </ul>
                        </nav>
                    </div>*@
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content  text-center">
            <div class="modal-header">
                <h4 class="modal-title text-center "><i class="fa fa-info-circle" aria-hidden="true"></i> Information</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="font-size: 20px;">@TempData["message"] </p>

            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->

                <a href="#" data-dismiss="modal" aria-label="Close" class="btn btn-primary">OK</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section scripts
{
    @if (TempData["message"] != null)
    {
        <script type="text/javascript">

            window.onload = function () {
                $('#myModal').modal('show');
            };
        </script>
    }
    <script type="text/javascript">

        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var param1 = getUrlVars()["searchtype"];
            var param2 = getUrlVars()["searchtext"];
            if (param1 != null && param2 != null) {
                $("#searchtype").val(param1);
                $("#searchtext").val('@ViewBag.Search');
            }
            if ($("#searchtype option:selected").val() == "Skill") {
                $("#searchtext").css('display', 'none');
                $("#searchtext").attr("disabled", true);
                $("#Skill").css('display', 'block');
                $("#Skill").attr("disabled", false);
            }

            $('#dom-jqry').DataTable({
                "ordering": true  // false to disable sorting (or any other option)

            });

        });

        $("#searchtype").change(function () {

            if ($("#searchtype option:selected").val() == "Skill") {
                $("#searchtext").css('display', 'none');
                $("#searchtext").attr("disabled", true);
                $("#Skill").css('display', 'block');
                $("#Skill").attr("disabled", false);
            }
            else {
                $("#searchtext").css('display', 'block');
                $("#searchtext").attr("disabled", false);
                $("#Skill").css('display', 'none');
                $("#Skill").attr("disabled", true);
            }
        });
    </script>
    <script type="text/javascript">
      function copyUrlToClipboard() {

         var clipboard = new ClipboardJS('#copyurlbutton', {
             text: function () {
                 return constructUrl();
             }
         });

         clipboard.on('success', function (e) {
             e.clearSelection();
             document.getElementById('copyurlbutton').textContent = 'Copied';
             setTimeout(function () {
                 document.getElementById('copyurlbutton').textContent = 'Share Registration Link'; // Reset button text after 15 seconds
             }, 15000);
             /*alert('URL copied to clipboard: ' + e.text);*/
         });

         clipboard.on('error', function (e) {
             alert('Error copying URL to clipboard.');
         });
     }


     function constructUrl() {
         var LocalHost = 'https://fms.inwinteck.com';
        /* var LocalHost = 'http://localhost:1957';*/
         var customId = '@ViewBag.ucheckid';

         var controller = 'Account'; // controller name
         var action = 'Inwin_Engg'; //  action method name
        /* var id = getCurrentUrlId();*/
         var url = LocalHost + '/' + controller + '/' + action + '/?id=' + customId;
         return url;
     }
    </script>
}



